body {
  padding-top: 70px;
}
textarea.form-control {
  resize: vertical !important;
}
.panel-table .panel-body {
  padding: 0;
}
.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align: center;
  width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top: 0;
}
.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0;
}
.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height: 34px;
}
.panel-table .panel-footer .pagination {
  margin: 0;
}
.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}
.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0;
}
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
